#buttons
  %a.new_page{:href => new_page_path} New Page

#pages
  - @pages.each do |page|
    = render :partial => 'page', :locals => {:page => page}

.clear

:javascript
  $(document).ready(function() {
    options = {
      'transitionIn'	: 'elastic',
      'transitionOut'	: 'elastic',
      'scrolling'		: 'no',
      'autoDimensions' : false,
      'width' : 230,
      'height' : 160,
    }
  
    $('a.new_page').fancybox(options);
    $('a.edit_page').fancybox(options);
    
  });
