!!! XML
!!!
%html
  %head
    %title WebShotGun
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/

    %link{:rel => 'stylesheet', :href => '/stylesheets/style.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/fancybox/jquery.fancybox-1.3.1.css', :type => 'text/css', :media => 'screen'}
    
    = javascript_include_tag :all
    %script{:type => 'text/javascript', :src => '/javascripts/fancybox/jquery.mousewheel-3.0.2.pack.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/fancybox/jquery.fancybox-1.3.1.js'}
  %body
    #container= yield
    #footer
      %a{:href => 'http://blindgaenger.net'} blindgaenger.net