!!! XML
!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => '/stylesheets/stylesheet.css', :type => 'text/css'}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
  %body
    #container= yield
    #footer
      %a{:href => 'http://blindgaenger.net'} blindgaenger.net